<div class="page-header">
  <%= link_to contacts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_contact_path(@contact), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show contact</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @contact.name %></dd>

  <dt>Email:</dt>
  <dd><%= @contact.email %></dd>

  <dt>Remark:</dt>
  <dd><%= @contact.remark %></dd>

  <dt>Kind:</dt>
  <dd><%= @contact.kind.description %></dd>

  <dt>Company:</dt>
  <dd><%= @contact.company.name %></dd>

</dl>
