<h1>Empresas</h1>

<div>
  <%= link_to 'Nova Empresa', new_company_path %>
</div>

<% @companies.each do |company| %>
  <div>
    <%= link_to company.name, company %>
    |
    <%= company.active? ? 'ATIVA' : 'DESATIVADA' %>
    |
    <%= link_to 'Editar', edit_company_path(company) %>
    |
    <%= link_to 'Apagar', company, method: :delete, data: {confirm: 'Certeza?'} %>
  </div>
<% end %>