<!DOCTYPE html>
<html>
  <head>
    <title>RailsContacts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>eContatos</h1>
    <h2>Cadastre todos seus esqueminhas aqui!</h2>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Tipos de Contato', kinds_path %></li>
      <li><%= link_to 'Contatos', contacts_path %></li>
      <li><%= link_to 'Telefones', phones_path %></li>
      <li><%= link_to 'Endereços', addresses_path %></li>
    </ul>
    <div class="container"> 
      <%= yield %>
    </div>
  </body>
</html>
